<div class="card">
  <%= link_to image_tag(album.image, class: :card__img ), album_path(album) %>
  <div class="card__body">
    <%= link_to album.title, album_path(album), class: :card__title%>
    <p class="card__summary">
      <%= album.caption %>
    </p>
    <%= link_to "by #{album.user.nickname}", root_path, class: :card__user %>
  </div>
</div>